
## <summary>policy for catscoin</summary>


########################################
## <summary>
##	Transition to catscoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`catscoin_domtrans',`
	gen_require(`
		type catscoin_t, catscoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, catscoin_exec_t, catscoin_t)
')


########################################
## <summary>
##	Execute catscoin server in the catscoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catscoin_initrc_domtrans',`
	gen_require(`
		type catscoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, catscoin_initrc_exec_t)
')


########################################
## <summary>
##	Search catscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catscoin_search_lib',`
	gen_require(`
		type catscoin_var_lib_t;
	')

	allow $1 catscoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read catscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catscoin_read_lib_files',`
	gen_require(`
		type catscoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, catscoin_var_lib_t, catscoin_var_lib_t)
')

########################################
## <summary>
##	Manage catscoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catscoin_manage_lib_files',`
	gen_require(`
		type catscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, catscoin_var_lib_t, catscoin_var_lib_t)
')

########################################
## <summary>
##	Manage catscoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`catscoin_manage_lib_dirs',`
	gen_require(`
		type catscoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, catscoin_var_lib_t, catscoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a catscoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`catscoin_admin',`
	gen_require(`
		type catscoin_t;
		type catscoin_initrc_exec_t;
		type catscoin_var_lib_t;
	')

	allow $1 catscoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, catscoin_t)

	catscoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 catscoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, catscoin_var_lib_t)

')

